# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
