<!doctype html>
<html lang="en" ng-app="BevPricingApp">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
   <!-- Moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
          integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o="
          crossorigin="anonymous"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Application -->
  <script src="core.js"></script>

  <title>Beverage Pricing - Add to Database</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <b>Holiday Beverage</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Search</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/app">Add to Database</a>
        </li>
      </ul>
        <ul class="nav-item navbar-nav navbar-right">
          <li><a class="nav-link "href="#"><span class="fa fa-sign-in"></span> Login</a></li>
        </ul>
    </div>
  </div>
</nav>
<div class="container mt-4" ng-controller="AppController">
  <div class="row mb-4">
    <div class="col-12 col-md-6 mb-3">
        <form method="post" ng-submit="submit()">
            <div class="form-row">
                <div class="form-group col-12">
                    <label>Query</label>
                    <input ng-model="apisearch.q" name="q" type="text" class="form-control" placeholder="Enter a beer..." ng-maxlength=500>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button type="submit" ng-disabled="!apisearch.q" ng-click="submit('apisearch')" class="btn btn-primary btn-block">Search Untappd</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                   <button type="button" value="addVarietyPk" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-block">Add Variety Pack</button>
                </div>
            </div>
        </form>    
    </div>
    
  <div class="col-12 col-md-6 mb-3 results">

<!--      <h5 class="text-muted">{{secondary_message}}</h5>-->
        <h4 class="mb-4">{{loading_message}}</h4>
        <div class="beers">
        <p ng-show="!beers.count" class="text-muted text-center">
        No beers are available to display yet <br> Beers will show up here as they are queried <br> <br>
            Note: Please use 'Search Untappd' to obtain beers for pricing
      </p>
          <ul class="list-unstyled" ng-repeat="item in beers.items">
            <li class="media bg-white border-top">
                <div class="result_btn ml-1 mr-3 mt-4">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-lg"></i></button>
                </div>
                <img class="img-thumbnail mr-3 mt-3" ng-src="{{item.beer.beer_label}}" width="60">
              <div class="media-body mt-2">
                <div class="font-weight-bold">{{item.beer.beer_name}}</div>
                <div class="text-muted">@{{item.brewery.brewery_name}}</div>
                  <div class="text-muted">{{item.beer.beer_style}} <span style="float: right">{{item.beer.beer_abv}}% ABV</span></div>
              </div>
            </li>
          </ul>
        </div>
    </div>
      </div>
     </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
</body>
</html>