body > nav{
    background-color: #38A1F3;
}

body > nav > div > a > b{
    color: white;
}

#navbarText > span{
    color: white;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
    color: #E1E8ED !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFFFFF !important;
}

button.btn.btn-primary.btn-block{
    background-color: #38A1F3;
}

button.btn.btn-danger.btn-block{
    background-color: #657786;
}


.result_btn {
  
  align-items:center; /* vertically aligned! */
}

.beers {  
    width: 100%;
    max-height: 75vh;
    overflow: scroll;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

@media only screen and (max-width: 600px) {
  .beers {
    width: 100%;
    max-height: 50vh;
    overflow: scroll;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
  }
}